<div class="container-fluid bg-light pt-1">
    <ul class="button-list">
        {{#if series}}
            <li><button type="button" data-filter="anime" id="anime-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Animes
                </button></li>
            <li><button type="button" data-filter="documentary" id="documentary-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Documentaries
                </button></li>
        {{else if series_completed}}
            <li><button type="button" data-filter="anime" id="anime-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Animes
                </button></li>
            <li><button type="button" data-filter="documentary" id="documentary-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Documentaries
                </button></li>
        {{else if movies}}
            <li><button type="button" data-filter="anime" id="anime-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Animes
                </button></li>
        {{else if movies_completed}}
            <li><button type="button" data-filter="anime" id="anime-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Animes
                </button></li>
        {{else}}
            <!--// TO DO: Add style and colors to the buttons and the website -->
            <li></li><button type="button"  data-filter="souls-like" id="souls-like-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Souls-like
                </button></li>
            <li></li><button type="button"  data-filter="indie" id="indie-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Indies
                </button></li>
            <li></li><button type="button"  data-filter="deck-builder" id="deck-builder-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Deck-builders
                </button></li>
            <li></li><button type="button"  data-filter="classic-rpg" id="classic-rpg-button-id" class="btn btn-outline-info btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Classic RPGs
                </button></li>
        {{/if}}
        <li><button type="button" data-filter="clear" id="clear-filters-button-id" class="btn btn-outline-dark btn-sm tag-button js-filter-slides-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                Clear Filters
            </button></li>            
    </ul>
</div>


<div class="container-fluid bg-light pt-2 pb-4" id="media-content-carousel">
    <div class="text-center" style="height: 250px;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="container-fluid p-4 text-center">
    <div class="button-bottom-carousel-container">
        {{#if ps4}}
            <a href="/videogames/ps4_completed" class="btn btn-warning btn-sm left-button-bottom-carousel" role="button">Not completed</a>
        {{else if pc}}
            <a href="/videogames/pc_completed" class="btn btn-warning btn-sm left-button-bottom-carousel" role="button">Not completed</a>
        {{else if pc_completed}}
            <a href="/videogames/pc" class="btn btn-success btn-sm left-button-bottom-carousel" role="button">Completed</a>
        {{else if ps4_completed}}
            <a href="/videogames/ps4" class="btn btn-success btn-sm left-button-bottom-carousel" role="button">Completed</a>
        {{else if movies}}
            <a href="/movies/completed" class="btn btn-warning btn-sm left-button-bottom-carousel" role="button">Not completed</a>
        {{else if movies_completed}}
            <a href="/movies" class="btn btn-success btn-sm left-button-bottom-carousel" role="button">Completed</a>
        {{else if series}}
            <a href="/series/completed" class="btn btn-warning btn-sm left-button-bottom-carousel" role="button">Not completed</a>
        {{else if series_completed}}
            <a href="/series" class="btn btn-success btn-sm left-button-bottom-carousel" role="button">Completed</a>
        {{else}}
            <div href="/videogames/ps4" class="btn btn-success btn-sm left-button-bottom-carousel" style="visibility: hidden;" role="button">Not Completed</div>
        {{/if}}
        <button type="button" class="btn btn-primary" onclick="showInfoCurrent()" data-toggle="modal" data-target="#exampleModal">
            Info
        </button>
        <button type="button" class="btn btn-secondary btn-sm right-button-bottom-carousel" onclick="recommendMeSomething()" data-toggle="modal" data-target="#exampleModal">
            Recommend me
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="info-title" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="info-title">Item information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="media">
            <img id="info-picture" src="" class="w-25 mr-3" alt="img_x">
            <div class="media-body">
                <h5 class="mt-0" id="info-name"></h5>
                <p id="info-description"></p><br/>
                <p id="info-additional"></p>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
</div>